<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServerURL" value="https://localhost:5001/" />
    <!--<add key="ServerURL" value="http://172.26.1.14:8092/"/>-->
    <add key="VersionInfo" value="VersionInfo.json" />
    <add key="ENVIRONMENT" value="TESTING" /> <!--TESTING,STAGING,PREPRODUCTION,PRODUCTION-->
    <add key="UPDATEPATH" value="http://172.26.1.14" />
    <!--<add key="UPDATEPATH" value="https://localhost" />-->
    <add key="REPORTSPATH" value="c:\FALCAPOS\PosReports" />
    <add key="InvoiceFileExtensionFilter" value="PDF files (.pdf) |*.pdf|Image Files (.png,.jpeg) |*.png;*.jpg;*.jpeg" />
    <add key="GSTVALUE" value="0,5,12,18,28" />
    <add key="PRODUCTLOCATION" value="1st Rack,2nd Rack,3rd Rack,4th Rack,5th Rack,6th Rack,7th Rack,8th Rack,Counter Front,Godown,Counter Right Side,Counter Left Side" />
    <add key="WARRENTYSERVICES" value="NO,NA,YES,6 MONTHS,1 YEAR" />
    <!--<add key="DenominationURL" value="http://localhost:62396/" />-->
    <!--<add key="DenominationURL" value="http://172.26.1.14:8096/" />-->
    <add key="DenominationDays" value="7" />
    <add key="GSTIN" value="29AADCF3415A1Z5" />
    <add key="Ledgers" value="Ledgers.json" />
    <add key="TALLYREPORTSPATH" value="c:\FALCAPOS\TallyReports" />
    <add key="BULKPAYMENTPATH" value="c:\FALCAPOS\BulkPayment" />
    <add key="CREDITSUMMARY" value="c:\FALCAPOS\CreditNoteSummary" />
    <add key="EXPIRYPATH" value="c:\FALCAPOS\ExpiryProduct" />
    <add key="SUPPLIERTYPE" value="Manufacturer,Dealer,Retailer" />
    <add key="CacheEnabled" value="false" />
    <add key="CachePath" value="c:\.poscache" />
    <add key="POSTemp" value="c:\.postemp" />
    <add key="CategoryCertificate" value="crop protection chemicals,seeds,fertilizers,speciality nutrients" />
    <add key="FALCADEBITACCOUNT" value="563465678910" />
    <add key="DENOMIANTIONPATH" value="c:\FALCAPOS\DenominationReport" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ASSERTSPATH" value="c:\FALCAPOS\AssertsReport" />
    <add key="ICICFALCADEBITACNo" value="563465678911" />
    <add key="CUSTOMERTYPE" value="Store,RSP,FPO,B2B" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.0.1422" newVersion="7.2.0.1422" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignThemes.Wpf" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.2" newVersion="4.2.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MaterialDesignColors" publicKeyToken="df2a72020bd7962a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.2" newVersion="2.0.3.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>